<div class="container-fluid text-center">
<h1>Welcome</h1> <br>
<h1> to </h1> <br>
<h1>Grey Budget</h1> <br><br>
<p>We are delighted to have you join us. Don't have an account?</p>
<p class="nav-item"> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %></p>

<p>Otherwise</p>
<p class="nav-item"> <%= link_to "Sign In", new_user_session_path, class: "nav-link"  %></p>
</div>